<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Seth Baker is running as a Green party candidate for Maine State Senate District 27 with a five-issue platform to revolutionize Portland and Maine.">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{% block page_title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sethstyle.css') }}">
  </head>
  <body>

    {% block nav_bar %}
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('main.index') }}">Seth Baker for State Senate</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('main.platform') }}">Our Platform</a></li>
            <li><a href="{{ url_for('main.contribute') }}">Contribute</a></li>
            <li><a href="{{ url_for('blog.root') }}">Campaign blog</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <!-- Facebook & Twitter links -->
            <li><a href="https://www.facebook.com/ElectSethBaker/"><i class="fa
                  fa-facebook-official"></i>&nbsp;&nbsp;Facebook</a></li>
            <li><a href="mailto:seth@sethbaker.me"><i class="fa
                  fa-envelope"></i>&nbsp;&nbsp;Email</a></li>
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('blog.new') }}"><i class="fa fa-plus"></i> New post</a></li>
            <li><a href="{{ url_for('auth.settings', userid = current_user.id) }}"><i class="fa fa-cog"></i> Settings</a></li>
            <li><a href="{{ url_for('auth.logout') }}">Log out</a></li>
            {% endif %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    {% endblock %}

    {% block flashed_messages %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="alert alert-success">
          <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% endif %}
    {% endwith %}
    {% endblock %}

    <div class="container-fluid marketing">
      {% block page_content %}
      {% endblock %}
      
      <div class="row">
        <div class="col-xs-12 wht">
          <footer>
            {% block footer %}
            <p class="text-center"><p>
            <p class="text-center">Paid for and authorized by The Committee to
            Elect Seth Baker. &copy; Copyright 2016 The Committee to Elect
            Seth Baker.</p>
            {% endblock %}
            {% block additional_footer %}{% endblock %}
          </footer>
        </div>
      </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>
</html>
