{% extends "base.html" %}

{% block page_title %}Seth Baker&mdash;Green for State Senate District 27{% endblock %}

{% block page_content %}
<div class="row featurette featurette-green">
  <div class="col-md-5 col-xs-12">
    <img src="../static/img/seth_example.png" class="img-responsive center-block img-circle custom-img" alt="Seth Baker">
  </div>
  <div class="col-md-7 col-xs-12">
    <h2 class="featurette-heading"><span class="grn">Seth Baker</span> for Maine State Senate District
      27</h2>
    <p class="lead">I’m excited to share the news that I’m planning on running
    here in Senate district 27 for the open seat as a Green. I’m looking
    forward to running as an open socialist and getting people to think about
    the issues and what they want for the state and society as whole. I’d like
    to attack the issues facing Maine with a common sense materialism. We have all sorts of wealth and technology: how do we configure it in a way to benefit everyday people?</p>
  </div>
</div>
<div class="row featurette f-dark">
  <div class="col-md-7 col-xs-12">
    <h2 class="featurette-heading">Five issues for Maine</h2>
    <ul class="lead">
      <li>Socialized medicine</li>
      <li>Full employment with a $15 minimum wage</li>
      <li>Support for refugees</li>
      <li>End corporate welfare</li>
      <li>Universal basic income</li>
    </ul>
    <br />
    <a class="btn btn-large btn-default" href="{{ url_for('platform') }}">Read more about the issues</a>
  </div>
  <div class="col-md-5 col-xs-0">
    <span></span>
  </div>
</div>
<div class="row featurette f-red">
  <div class="col-md-5 col-xs-0">
    <span></span>
  </div>
  <div class="col-md-7 col-xs-12">
    <h2 class="featurette-heading">Get in touch</h2>
    <p class="lead">I want to hear how I can help you, the everyday people of Maine.
    I appreciate your support.</p>
    <a class="btn btn-large btn-default"
      href="mailto:sethbaker1988@gmail.com">Email Seth</a>
  </div>
</div>

{% endblock %}
