{% extends "base.html" %}

{% block page_title %}The Issues&mdash;Seth Baker for Senate District 27{%
endblock %}

{% block page_content %}
<div class="row featurette f-dark">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <h2 class="featurette-heading">The Issues</h2>
    <p class="lead">
    <dl class="dl-horizontal">
      <dt>Socialize medicine</dt>
      <dd>The Affordable Care Act has forced high deductible plans on working people, leading them to avoid getting the care they need out of fear of medical debt. Medicaid expansion has been blocked by many Republican governors including our own. We need to make sure every Mainer has access to high quality healthcare. <strong>Our health is not a place for profit motives: we need Medicaid for all.</strong></dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>Full employment with a $15 minimum wage</dt>
      <dd>The state should pursue a policy of full employment: <strong>anyone looking
      for work in Maine should be able to find a position that allows them to live
      and eat</strong>.</dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>Support for refugees</dt>
      <dd><strong>Maine should be open to everybody</strong>. The state should be coordinating with the federal government to take on refugees, including those fleeing the Syrian civil war. Maine is facing an aging, shrinking population and these refugees will offer a much needed boost to our state.</dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>End corporate welfare</dt>
      <dd>Currently the state is engaged in a race to the bottom with TIFs and various tax breaks to lure in business. <strong>When the state negotiates with companies looking to come to Maine, employment figures must be part of the bargain.</strong></dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>Universal basic income</dt>
      <dd>Conservatives have turned welfare into a dirty word in an attempt to turn working people against each other. The endless debate about what type of foods people on EBT should be able to purchase accomplishes nothing positive and is a total waste of state resources. <strong>We need to transition to a system that gives all Mainers a monthly basic income</strong>. This will provide aid to our most vulnerable as well as give everybody a safety net in an ever changing economy.</dd>
    </dl>
    </p>
  </div>
</div>

{% endblock %}
