{% extends 'base.html' %}

{% block meta_description %}
<meta name="description" content="Seth Baker's campaign blog.">
{% endblock %}

{% block page_title %}Campaign Blog - Seth Baker for Portland, Maine State Senate District 27{% endblock %}

{% block page_content %}

{% for post in posts %}
<div class="row featurette featurette-white">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <h2 class="blog-heading">
      <a href="{{ url_for('blog.post', post_name = post.slug) }}" class="blog-heading">{{ post.title }}</a>
    </h2>
    <small>Posted by {{ post.user.name }} on {{ post.date.strftime('%m-%d-%Y') }}.</small>
    {% if post.last_modified %}
    <br /><small>Last modified {{ post.last_modified.strftime('%m-%d-%Y at %I:%M%p') }}.</small>
    {% endif %}
    {% if post.link_title %}
    <div class="well">
      <h3><a href="{{ post.link_url }}">{{ post.link_title }}</a></h3>
      <p>{{ post.link_description }}</p>
    </div>
    {% endif %}
    <div class="post">
      {{ post.content_html | safe }}
    </div>
    {% if current_user.is_authenticated %}
    <small><a href="{{ url_for('blog.edit', postid = post.id) }}"><i class="fa fa-pencil"></i> edit</a>&nbsp;&nbsp;<a href="{{ url_for('blog.delete', postid = post.id) }}"><i class="fa fa-trash"></i> delete</a></small>
    {% endif %}
    <hr />
  </div>
</div>
{% endfor %}

<div class="row featurette featurette-white">
  <div class="col-md-4 col-md-offset-4 text-center">
    {% if older_pages %}
    <a href="{{ url_for('blog.pages', pagenumber = page_num - 1) }}" class="btn btn-primary">Newer posts</a>
    {% else %}
    <a class="btn btn-default disabled">Newer posts</a>
    {% endif %}
    {% if newer_pages %}
    <a href="{{ url_for('blog.pages', pagenumber = page_num + 1) }}" class="btn btn-primary">Older posts</a>
    {% else %}
    <a class="btn btn-default disabled">Older posts</a>
    {% endif %}
  </div>
</div>

{% endblock %}
