{% extends 'base.html' %}

{% block meta_description %}
<meta name="description" content="{{ description }}">
{% endblock %}

{% block page_title %}{{ post.title }} - Seth Baker for Portland, Maine State Senate District 27{% endblock %}

{% block page_content %}
<div class="row featurette featurette-white">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <h2 class="blog-heading">
      <a href="{{ url_for('blog.post', post_name = post.slug) }}" class="blog-heading">{{ post.title }}</a>
    </h2>
    <small>Posted by {{ post.user.name }} on {{ post.date.strftime('%m-%d-%Y') }}.</small>
    {% if post.last_modified %}
    <br /><small>Last modified {{ post.last_modified.strftime('%m-%d-%Y at %I:%M%p') }}.</small>
    {% endif %}
    {% if post.link_title %}
    <div class="well">
      <h3><a href="{{ post.link_url }}">{{ post.link_title }}</a></h3>
      <p>{{ post.link_description }}</p>
    </div>
    {% endif %}
    <div class="post">
      {{ post.content_html | safe }}
    </div>
    {% if current_user.is_authenticated %}
    <small><a href="{{ url_for('blog.edit', postid = post.id) }}"><i class="fa fa-pencil"></i> edit</a>&nbsp;&nbsp;<a href="{{ url_for('blog.delete', postid = post.id) }}"><i class="fa fa-trash"></i> delete</a></small>
    {% endif %}
    <hr />
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <h2>Related posts</h2>
  </div>
</div>
{% if related %}
<div class="row">
  <div class="col-md-2">
  </div>
  {% for page in related %}
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading"><a href="{{ url_for('blog.post', post_name = page.slug) }}">{{ page.title }}</a></div>
      <div class="panel-body">{{ page.description }}</div>
    </div>
  </div>
  {% endfor %}
  <div class="col-md-2">
  </div>
</div>
{% endif %}
{% endblock %}
