/* Adapted from Bootstrap's carousel.css */
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700);

body {
  font-family: 'Roboto', sans-serif;
  padding: 50px 0px 0px 0px;
  color: #777777;
  background-color: #fdfdfd;
}

.f-light-green {
  background-color: #72889d;
  color: #fdfdfd;
}

.featurette {
  padding-bottom: 5em;
  padding-left: 2em;
  padding-right: 2em;
}
/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

.featurette-green {
  background-color: #fdfdfd; 
  color: #777777;
}

.custom-img {
  margin-top: 5em;
  border: 10px solid #a5c99f;
}

.navbar-default {
  background-color: #fdfdfd;
  border-bottom: 1px solid #b4d2af;
  padding: 0;
  margin-bottom: 0;
}

.navbar-brand {
  color: #6aa65f !important;
}

.navbar-brand:hover {
  color: #4f7c47 !important;
}

.f-dark {
  background-color: #365674;
  color: #fdfdfd;
  background: -webkit-linear-gradient(left top, #365674, #72889d);
  background: -o-linear-gradient(left top, #365674, #72889d);
  background: -moz-linear-gradient(left top, #365674, #72889d);
  background: linear-gradient(left top, #365674, #72889d);
}

.f-red {
  background-color: #6aa65f;
  /*
  background: -webkit-linear-gradient(left top, #a5c99f, #6aa65f);
  background: -o-linear-gradient(bottom right, #a5c99f, #6aa65f);
  background: -moz-linear-gradient(bottom right, #a5c99f, #6aa65f);
  background: linear-gradient(bottom right, #a5c99f, #6aa65f);
  */
  color: #fdfdfd;
}

footer {
  padding: 2em 0em 1em 0em;
}

.wht {
  background-color: #fdfdfd;
}

.dl-horizontal {
  font-size: 1.2em;
}

.dl-horizontal dd {
  font-weight: 300;
}

.dl-horizontal dt {
  white-space: normal !important;
  font-weight: 400;
  color: #b4d2af;
}

.grn {
  color: #6aa65f;
}

strong {
  font-weight: 700;
}

.btn {
  white-space: normal !important; /* force word wrap on buttons */
}

a.blog-heading {
  color: #6aa65f;
}

a.blog-heading:hover {
  color: #4f7c47;
}

.post {
  margin-top: 1em;
  font-size: 16px;
}

#maine-img, #vote-img {
  padding: 4em 0 0 0;
}

#maine-img {
  max-height: 500px;
}

#vote-img {
  max-height: 400px;
}

.f-dark a {
  color: #8ABFDA;
}
